
:root {
    --primary: #2FB464;
    --secondary:  #808080;

}
body{
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
}
h4{
  font-weight: 800;
  font-size: 28px;
  line-height: 38px;
  margin: 0;
}
a{
  color: var(--secondary);
}
.btn-primary{
  background: #111111;
  border-radius: 74px;
  color: white;
  /* padding-inline: 84px; */
  padding-block: 12px;
  font-weight: 800;
}
.btn-secondary{
  background: #FFFFFF;
  border: 1px solid rgba(117, 117, 117, 0.2);
  box-sizing: border-box;
  border-radius: 74px;
  color: black;
  /* padding-inline: 150px; */
  padding-block: 12px;
  margin-block: 8px;
  font-weight: 800;
  align-items: center;
}
.btn-secondary img{
  height: 60%;
}
/* hero */
.hero{
  background-color: white;
  padding-inline: 55px ;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.options a{
  padding-left: 40px;
  color: black;
  text-decoration:none;
}
.options-icons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.options-icons img{
  padding-inline: 12px;
}
.buscador{
  width: 200px;
  height: 40px;
  background: #F5F5F5;
  border-radius: 100px;
  padding-block: 8px;
  padding-inline: 16px;
  display: flex;
  align-items: center;
}
.buscador i{
  color: #757575;
  opacity: 0.2;
}
.buscador img{
  padding-inline: 8px;
}
/* Fin de hero */
.wrapper{
  padding-inline: 16px;
  padding-block: 24px;
}
/* card-view */
.info-view{
  padding-inline: 16px;
}
.price-view{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.colors-view{
  padding-block-end: 40px;
}
.card-view{
  /* display: grid; */
  /* flex-wrap: wrap; */
  /* grid-template-columns:  auto minmax(400px, 1fr) ; */
  /* grid-template-columns:  auto 400px ; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;


}
 .info-view, .carrusel{

  /* display: grid; */
  flex: 0 1 150px;
  margin: 5px;
}
.imagen-view{
   flex: 1;
}
.tendencias{
  display: grid;
  /* flex-wrap: wrap; */
  justify-content: center;
  grid-template-columns:  minmax(1fr, 1256px );
}

.main{
  display: grid;
   place-items: center;
}
.imagen-view{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* grid-template-columns: 400px, 400px ; */
  /* grid-template-rows: 400px, 400px ; */
   /* grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */
  /* grid-template: repeat(2, 500px) / repeat(2, 400px) ; */
}
.child-view{
  flex: 0 1 150px;
  margin: 5px;
}
.imagen-view img{
  max-width: auto;
  max-height: 496px;
  gap: 16px 16px;
}
.title-talla{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.guia{
  display: grid;
  grid-template: repeat(5, 1fr) / repeat(3, 125px) ;
  gap: 8px 8px;
  justify-content: center;
}
.guia-items{
  background: #FFFFFF;
  border: 1px solid rgba(117, 117, 117, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  width: 125px;
  height: 48px;
  padding: 12px 10px;
}
.descripcion{
  margin-block: 16px;
  display: flex;
  flex-direction: column;
}
/* Fin de card-view */


/* carrusel */
.slider {
  display: grid;
}

.slider-container {
  overflow: auto;
  scroll-behavior: auto;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  /* width: 95%; */
}
.card {
  margin: 10px;
  display: flex;
  flex-direction: column;

  height: auto;
  aspect-ratio: 16/9;
}

.slider-bullet-list {
  text-align: center;
  margin-block-start: 10px;
}

.slider-bullet {
  display: inline-block;
  inline-size: 15px;
  block-size: 15px;
  background: black;
  border-radius: 50%;
}

.card img{
  max-height: 385px;
}
/* Fin de carrusel */

/* footer   */

.footer{
  background-color: black;
  padding: 64px 55px ;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.footer-group1{
  display: flex;
  flex-direction: row;
}
.footer-menu{
  display: flex;
  flex-direction: column;
  margin-inline-end: 64px
}
.footer-menu h5{
  color: white;
  font-weight: 800;
}
.footer-menu a{
  color:  #757575;
  line-height: 24px;
  text-decoration: none;
  margin-block-end: 16px
}
.footer-icons{
  display: flex;
  flex-direction: row;
}
.icon-circle{
  width: 48px;
  height: 48px;
  background-color: grey;
  border-radius: 100%;
  margin-inline-end: 24px;
  justify-content: center;
  align-items: center;
  display: flex;
}

/* Fin de footer   */

/* CARRITO */
.compra-view{
  margin-inline:16px;
}
.miembro-card{
  border: 1px solid #757575;
  padding: 16px;
  margin-block-end: 40px;
}
.miembro-card h3{
  color: #FA5400;
  margin:0;
  font-size: 28px;
}
.miembro-card p{
  color: #757575;
  font-size: 16px;
  margin:0;
}
.producto-card{
  display: flex;

  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.producto-card img{
  display: flex;
  height: 128px;
}
.info-producto-card{
  margin-inline: 16px;
  width: 100%;
}
.titulo-producto-card, .costo-child, .costo-child-negrilla{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.costo-child p, .costo-child-negrilla p{
  margin-block: 8px;

}
.costo-child-negrilla{
  font-weight: 800;
}
.info-producto-card p{
  color: #757575;
  margin: 4px;
}
.info-producto-card span, .titulo-producto-card p{
  margin: 4px;
  color: #111111;
}
.envio-card{
  padding-block-start: 55px;
}
.linea{
  border: 1px solid #757575;
  opacity: 0.2;
  margin-block: 32px;
}
.resumen-view{
  display: flex;
  flex-direction: column;
}
.resumen-view .btn-primary, .resumen-view .btn-secondary{
  margin-block: 8px;
}
.pay{
  color: #21468C;
}
.pal{
  color: #5183e0;

}
/* Mobile Styles */
@media only screen and (max-width: 450px) {
   .options{
     display: none;
   }

  /* hero */

  .hero{
    padding-inline: 16px ;
  }
  .options a{
    padding-left: 10px;
  }
  .options-icons img{
    padding-inline: 6px;
  }
  .buscador{
    width: 100px;
    height: 25px;
  }
  /* Fin de hero */
  .wrapper{
    padding-inline: 0;
    padding-block: 0;
  }
  /* card-view */
  .info-view{
    padding-inline: 0;
  }
  .title-view{
    /* display: none; */
  }
  .colors-view{
    padding-block-end: 0;
  }
  .imagen-view img{
    max-height:320px;
  }
  .guia{
    grid-template: repeat(5, 1fr) / repeat(2, 1fr) ;
  }
  .guia-items{
    width: 1fr;
  }
  /* Fin de card-view */

  /* carrusel */
  .slider {
    display: flexbox;
  }

  .slider-container {
    width: 95%;
  }
  .card img{
    max-height: 250px;
  }
  /* Fin de carrusel */
  /* footer   */

  .footer{
    padding: 35px 16px ;
    flex-direction: column;
  }
  .footer-group1{
    flex-direction: column;
  }
  .footer-menu{
    flex-direction: column;
    margin-inline-end: 64px;
  }
  .footer-icons{
    flex-direction: row;
  }
  /* Fin de footer   */

}